
$font : 'Raleway', sans-serif;
$curlyFont : 'Roboto', sans-serif;
$bgColor : #d7d7d7;

$mainHeight : 90%;
$menuHeight : 100%;

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body{
 background-color: $bgColor;
 font-family: $font;
 color: white;
}

#dice-holder {

  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  
  height: $mainHeight;
}

.dice-set{
  position: relative;
  width: 100%;
  height: 100%;
}

.dice {
  position: relative;
  background-color: white;
  z-index: 1;
  display: block;
  width: 100%;
  height: 25%;
  left:0%;
  box-shadow: 0px 0px 0px black;
  color: black;
  
}

.phrase{
  font-family: $font;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 20%;
  text-align: center;
  font-weight: 200;
  top:10%;
  left:0%;
  font-size: 4vw;
  font-style: italic;
  display: inline-block;
  float:left; 
  z-index: 20;
}

.ingredient {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 70%;

  text-align: center;
  font-size: 6.5vw;
  color: white;
  font-weight: 100;
  text-transform: uppercase;

  overflow: hidden;
}

.svg-handler {
  position: absolute;
  top:25%;
  left: 20%;
  height: 50%;
  width: 60%;
  border-bottom: 1px dashed white;
  z-index: 100;
}

#menu-holder{
  font-size: 6vw;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;

  position: relative;
  top: $mainHeight;
  left:0;
  width: 100%;
  height: $menuHeight;
  background-color: white;
  color: white;
  overflow: hidden;
  z-index: 999;

  .inner-holder {
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    top: 0%;
  }

  .title {
    position: relative;
    width: 100%;
    height: 25%;
    margin: 0 auto;
  }

  .title.active {
    font-weight: 900;
    box-shadow: 0px 0px 35px 0px rgba(50, 50, 50, 1);
  }
}

