$bg-color: #bcf30d;
$dice-color: #dde1e9;
$padding-val: 0px;

body, html{
	height: 100%;
	width: 100%;
	margin: 0;
}

.dice-container{
	width: 100%;
	height: 100%;
	background-color: $bg-color;
}
.dice{
	background-color: @$dice-color;
	padding: $padding-val;
	text-align: center;
}